{% extends 'Base.html' %}

{%block style%}

<style>
.login-box {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 400px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}
</style>
{%endblock style%}


{% block content %}


    <section id="service" class="section-padding">
        <center>

        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Add new station</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
                    <div class="login-space">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="login">
                                <div class="group"> <label class="label">Station Name</label> <input name="stationName" type="text" class="input" placeholder="Enter station name" required=""> </div>
                                <br>
                                <div class="group"> <input type="submit" name ="login" class="button" value="Add"> </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        </center>
    </section>


{% endblock %}