<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Train Tickets Reservation System</title>
    {% load static %}
    <style>
        body{
            background-size:100%;
            background-repeat:no-repeat;
        }
        .sty
        {
            font-family: 'Times New Roman', cursive;
            color:white;
        }
        .row1{
            background-color:rgba(0,0,0,0.6);

        }
    </style>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>