{% extends 'Base.html' %}


{% block content %}
 <section id="service" class="section-padding">
{% if request.user.is_superuser %}
   <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">Our Service</h2>
          <hr class="botm-line">
          <p>Manage System</p>
        </div>
        <div class="service-info">
            <div class="icon">
              <i class="fa fa-plus-circle"></i>
            </div>
            <div class="icon-info">
              <a href="AddTrain" class="btn btn-appoint">Add a new train</a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-plus-circle"></i>
            </div>
            <div class="icon-info">
              <a href="AddStation" class="btn btn-appoint">Add a new station</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{%else%}
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">Our Service</h2>
          <hr class="botm-line">
          <p>Manage your own tickets.</p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-check-circle"></i>
            </div>
            <div class="icon-info">
              <a href="base" class="btn btn-appoint">Your reservations</a>
              <p>What's your next move?</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-times-circle"></i>
            </div>
            <div class="icon-info">
               <a href="base" class="btn btn-appoint">Cancel reservation</a>
              <p>Can't make it? Let us know.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-train"></i>
            </div>
            <div class="icon-info">
              <a href="base" class="btn btn-appoint">Look for trains</a>
              <p>Looking to make another reservation?</p>
            </div>
          </div>

        </div>
        </div>
    </div>
{% endif %}
</section>

{% endblock %}